/*  GERAL  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

/*  NAVBAR LAYOUT  */

nav {
  background-color: #0284c7;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;

  display: flex;
  flex-direction: column;
  gap: 35px;
}

nav > header {
  font-size: 1.8rem;
}

nav > header,
nav > section {
  margin-left: 20px;
}

nav > section > div + div,
nav > header {
  margin-top: 20px;
}

nav > header,
nav > section > div  {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
}

nav > header > img,
nav > section > div > img {
  justify-self: center;
}

nav > header > img {
  height: 45px;
}

nav > section > div > img {
  height: 22.5px;
}