/*  GERAL  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

/*  NAVBAR CONFIGURATION  */

nav {
  background-color: #0369a1;
  color: aliceblue;
  font-size: 1.5rem;
  font-weight: 500;

  display: flex;
  flex-direction: column;
  gap: 35px;
}

nav > header, nav > section {
  margin-left: 20px;
}

nav > section > div + div, nav > header {
  margin-top: 20px;
}

/*  LOGO and HEADER TITLE  */
nav > header {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 2rem;
}

.header-logo {
  display: grid;
  height: 2rem;
  width: 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2px;
}

.header-logo > div {
  background-color: white;
}

.header-logo > :first-child {
  grid-area: 1 / 1 / 3 / 1;
}

.header-logo > :last-child {
  grid-area: 2 / 2 / 4 / 2;
}